.quiz-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
  flex-wrap: wrap;
}

.quiz-card {
  width: 400px;
  height: 160px;
  background-color: #11324d;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 10%;
  padding-top: 25px;
  border-radius: 10px;
  position: relative;
  /* height: 100%; */
}

.quiz-name {
  padding: 10px;
  text-align: center;
  color: white;
  justify-self: center;
  font-size: 1.4rem;
  font-weight: 600;
}

.quiz-btn,
.leaderboard-btn {
  width: 40%;
  padding: 5px 10px;
  color: #11324d;
  background-color: white;
  border-radius: 7px;

  align-items: center;
  display: flex;
  justify-content: center;
}

.quiz-btn {
  position: absolute;
  left: 7%;
  bottom: 7%;
  margin-right: 6%;
}

.leaderboard-btn {
  position: absolute;
  left: 53%;
  bottom: 7%;
}

.quiz-btn a,
.leaderboard-btn a {
  font-size: 1.2rem;
  text-decoration: none;
}
